div
{
background:white;
}
div img
{
width:100%;
height:100%;
cursor:pointer;

}
body
{
background-image:url('../croppedimages/wallpaperflare.com_wallpaper.jpg');
background-repeat:no-repeat;
background-size:cover;
}
#d1,#d2,#d3
{
position:relative;
top:-345px;
left:540px;
border:2px outset silver;
height:100px;
width:100px;
/*display:inline-block;*/
margin:0px;
padding:0px;
display:flex;
flex-direction:row;
}
#d4,#d5,#d6
{
position:relative;
top:-655px;
left:650px;
border:2px outset silver;
height:100px;
width:100px;
/*display:inline-block;*/
margin:0px;
padding:0px;
display:flex;
flex-direction:row;
}

#d7,#d8,#d9
{
position:relative;
top:-970px;
left:760px;
border:2px outset silver;
height:100px;
width:100px;
/*display:inline-block;*/
margin:0px;
padding:0px;
display:flex;
flex-direction:row;
}
#save
{
position:relative;
top:90px;
left:120px;
}
#reset
{
position:relative;
top:90px;
left:120px;
}
button
{
font-size:20px;
border-radius:10px;
background:blue;
color:white;
}
button:hover
{
 
background:linear-gradient(90deg,black,#2196f3);
}
#crop
{
position:relative;
top:80px;
left:150px;
}
#num
{
position:relative;
top:40px;
left:420px;
height:50px;
width:300px;
}
#l1
{
position:relative;
top:-850px;
left:100px;
color:white;
}
