body
{
background-image:url('../croppedimages/wallpaperflare.com_wallpaper.jpg');
background-repeat:no-repeat;
background-size:cover;
}
div img
{
width:100%;
height:100%;
cursor:pointer
}
#d1,#d2,#d3
{
position:relative;
top:-25px;
left:500px;
border:2px outset silver;
height:100px;
width:100px;
/*display:inline-block;*/
margin:0px;
padding:0px;
display:flex;
flex-direction:row;
}
#d4,#d5,#d6
{
position:relative;
top:-335px;
left:610px;
border:2px outset silver;
height:100px;
width:100px;
/*display:inline-block;*/
margin:0px;
padding:0px;
display:flex;
flex-direction:row;
}
#d7,#d8,#d9
{
position:relative;
top:-650px;
left:720px;
border:2px outset silver;
height:100px;
width:100px;
/*display:inline-block;*/
margin:0px;
padding:0px;
display:flex;
flex-direction:row;
}
#save
{
position:relative;
top:450px;
left:230px;
}
#reset
{
position:relative;
top:450px;
left:230px;
}
#crop
{
position:relative;
top:80px;
left:100px;
}
header
{
color:white;
position:fixed;
top:20px;
left:500px;
font-size:24px;
}
#num
{
position:relative;
top:380px;
left:520px;
height:50px;
width:300px;
}
button
{
position:fixed;
top:400px;
width:150px;
left:450px;
font-size:20px;
border-radius:10px;
background:blue;
color:white;
}
button:hover,#save:hover,#reset:hover
{
 
background:linear-gradient(90deg,black,#2196f3);
}
